/*!
 * font style
 */
@font-face {
    font-family: 'univers_45_lightregular';
    src: url('../font/univers_45_lightregular/univers_45_light-webfont.eot');
    src: url('../font/univers_45_lightregular/univers_45_light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/univers_45_lightregular/univers_45_light-webfont.woff') format('woff'),
         url('../font/univers_45_lightregular/univers_45_light-webfont.ttf') format('truetype'),
         url('../font/univers_45_lightregular/univers_45_light-webfont.svg#univers_45_lightregular') format('svg');
    font-weight: normal;
    font-style: normal;

}



@font-face {
                font-family: 'Candara';
                font-weight: normal;
                font-style: normal;                
                src: url('../font/candara/candara.eot');
                src: url('../font/candara/candara.eot?#iefix') format('embedded-opentype'),
                                 url('../font/candara/candara.woff') format('woff'),
                                 url('../font/candara/candara.ttf') format('truetype'),
                                 url('../font/candara/candara.svg#Candara') format('svg');

}

@font-face {
                font-family: 'HelveticaNeue';
                font-weight: normal;
                font-style: normal;                
                src: url('../font/helveticaneue/helveticaneue.eot');
                src: url('../font/helveticaneue/helveticaneue.eot?#iefix') format('embedded-opentype'),
                                 url('../font/helveticaneue/helveticaneue.woff') format('woff'),
                                 url('../font/helveticaneue/helveticaneue.ttf') format('truetype'),
                                 url('../font/helveticaneue/helveticaneue.svg#HelveticaNeue') format('svg');
}


@font-face {
                    font-family: 'HelveticaBold';
                    src: url('../font/helveticabold/helvetica_neue_ce_75_bold-webfont.eot');
                    src: url('../font/helveticabold/helvetica_neue_ce_75_bold-webfont.eot?#iefix') format('embedded-opentype'),
                         url('../font/helveticabold/helvetica_neue_ce_75_bold-webfont.woff') format('woff'),
                         url('../font/helveticabold/helvetica_neue_ce_75_bold-webfont.ttf') format('truetype'),
                         url('../font/helveticabold/helvetica_neue_ce_75_bold-webfont.svg#helvetica_ce_55_romanbold') format('svg');
                    font-weight: normal;
                    font-style: normal;
}

@font-face {
                        font-family: 'MyriadPro-Regular';
                        font-weight: normal;
                        font-style: normal;                        
                        src: url('../font/myriadproregular/myriadproregular.eot');
                        src: url('../font/myriadproregular/myriadproregular.eot?#iefix') format('embedded-opentype'),
                                         url('../font/myriadproregular/myriadproregular.woff') format('woff'),
                                         url('../font/myriadproregular/myriadproregular.ttf') format('truetype'),
                                         url('../font/myriadproregular/myriadproregular.svg#MyriadPro-Regular') format('svg');

        }
        
@font-face {
                            font-family: 'thonburiregular';
                            src: url('../font/thonburi/thonburi_2-webfont.eot');
                            src: url('../font/thonburi/thonburi_2-webfont.eot?#iefix') format('embedded-opentype'),
                                 url('../font/thonburi/thonburi_2-webfont.woff') format('woff'),
                                 url('../font/thonburi/thonburi_2-webfont.ttf') format('truetype'),
                                 url('../font/thonburi/thonburi_2-webfont.svg#thonburiregular') format('svg');
                            font-weight: normal;
                            font-style: normal;
}        

@font-face {
				font-family: 'GillSansBold';
				src: url('../font/gillsansbold/gillsansbold.eot');
				src: url('../font/gillsansbold/gillsansbold.eot?#iefix') format('embedded-opentype'),
						 url('../font/gillsansbold/gillsansbold.woff') format('woff'),
						 url('../font/gillsansbold/gillsansbold.ttf') format('truetype'),
						 url('../font/gillsansbold/gillsansbold.svg#GillSansBold') format('svg');
				font-weight: normal;
				font-style: normal;
		}


body{
    	font: normal 14px/18px Arial, Helvetica, "Bitstream Vera Sans", sans-serif;
}
        
* {
	margin: 0;
	padding: 0;
	-webkit-font-smoothing: antialiased;
	-moz-font-smoothing: antialiased;
	-o-font-smothing: antialiased;
	font-smothing: antialiased;     
}

     

/* Custom container */
.container {
    margin: 0 auto;
    min-width: 1024px;
}
.container .content{
    padding: 20px 0px 20px 0px;
}
a{
    color: #3cb94b;
}
.clear {
    clear: both;
}

.clear-left {
    clear: right;
}

.red{
    background: #d92200
}
.white{
    background: #ffffff
}


/*Custom selectbox style*/

select.selecbox-small{
    padding: 1px; width: 50px; height: 24px
}
select.selecbox-medium{
    padding: 1px; width: 100px; height: 24px;
    
}

/*Checkbox Styles*/
input[type=checkbox].custom_checkbox {
    display:none;
}

input[type=checkbox].custom_checkbox + label.checkbox-label {
    padding-left:20px;
    height:20px; 
    display:inline-block;
    line-height:20px;
    background-repeat:no-repeat;
    background-position: 0 0;
    font-size:15px;
    vertical-align:middle;
    cursor:pointer; font-size: 13px;
   
}

input[type=checkbox].custom_checkbox:checked + label.checkbox-label{
    background-position: 0 -20px;
}

.checkbox-label{  background-image:url(http://csscheckbox.com/checkboxes/web-two-style.png);  }


input::-webkit-input-placeholder {
   font-family: 'univers_45_lightregular';
   font-size: 0.929em
}
input:-moz-placeholder {
    font-family: 'univers_45_lightregular';
    font-size: 0.929em
}
input::-moz-placeholder {
     font-family: 'univers_45_lightregular';
     font-size: 0.929em
}
input:-ms-input-placeholder {
     font-family: 'univers_45_lightregular';
     font-size: 0.929em
}

input#search{
    height: 23px;
}

.header{
    height: 95px;
 
}

.header .logo{
    margin-top: 32px;
}
.header .logo form{
    margin-top: 10px;
}

.header .logo form label{
    font-size: 1em;
    font-family:Arial, sans-serif;
    font-style: normal
}
.header .logo form label .phone{
    font-size: 1.286em;
    color: #0aae60;
    font-family: 'Candara'
}

.header .btn{
    font-family: 'Candara';
    padding: 2px 25px 2px 25px;
}



.header ul.dropdown-menu a{
    font-family: 'Candara';
}
.header ul.dropdown-menu a:hover{
    background: #0aae60;
}



/*wrapper content for general page*/

.wrapper_content{
    background: url('../img/heading_content_wrapper_bg.jpg') repeat-x ;
    margin: 20px 0px 20px 0px;
    padding: 2px 20px 0px 20px;
    font-family:Arial;
    color: #696969;
    font-size: 12px;
}

.wrapper_content a{
    color: #50a6c5;
}

 .heading{   
    height: 43px; 
    margin-top: 10px;
}
.wrapper_content header{
    font-weight: bold;
    font-size: 17px;
}
.wrapper_content ul{
    margin-left: 15px;
}
.wrapper_content ul li{
    list-style-type: disc;color: #50a6c5;
}
.wrapper_content ul li p{
    color: #696969;
}


.wrapper_content .left_wrapper{
    float: left; width: 470px;
    display: inline-block;
}
.wrapper_content .right_wrapper{
    float: right; width: 470px;
}
/*end of wrapper content*/




/*Slider Section*/
.slider-section{
     min-width: 1024px;
    height: 415px;
    background: #f7f7f7;
    
}
.home-slider { 
    	width: 100%;
	position: relative;
	margin-top: 15px;
        -webkit-box-shadow: 0 10px 6px -6px #777;
	   -moz-box-shadow: 0 10px 6px -6px #777;
	        box-shadow: 0 10px 6px -6px #777;        
}




.home-slider .banner-words {	
        z-index:100;
        position: absolute;     
        margin-top: -192px;
        width: 485px;
        height: 115px;   
        font-size: 2.300em;
        line-height: 30px;
        font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, HelveticaNeue, Arial, "Lucida Grande", sans-serif; 
        background: #ffffff
        
}
.home-slider .banner-words .cont{
    padding-top: 20px;
}
.home-slider .banner-words .first_line{
    font-style: italic;
    margin-left: 50px;
    color: #e55122;
}

.home-slider .banner-words .second_line{
    margin-left: 80px;
}




.webwidget_slideshow_dot{
    padding: 0px;
    margin: 0px;
    position: relative;
    font-family: Arial,Sans-Serif;
    font-size: 13px;
}
.webwidget_slideshow_dot a{
    text-decoration: none;
}
.webwidget_slideshow_dot a:hover{
    text-decoration: underline;
}
.webwidget_slideshow_dot .slides_box{
    
    padding: 0px;
    margin: 0px;
    overflow: hidden;
    position: absolute;
}
.webwidget_slideshow_dot .title_thumb_box{
    width: auto;
    background: #F4F4F4;
    position: absolute;
    bottom: 20px;
    right: 40%;
	-moz-box-shadow:inset 0px 1px 0px 0px #F4F4F4;
	-webkit-box-shadow:inset 0px 1px 0px 0px #F4F4F4;
	box-shadow:inset 0px 1px 0px 0px #F4F4F4;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #F4F4F4), color-stop(1, #e0e0e0) );
	background:-moz-linear-gradient( center top, #F4F4F4 5%, #e0e0e0 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ebebeb', endColorstr='#e0e0e0');    
    	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #cccccc;
}

.webwidget_slideshow_dot .title_thumb_box .thumb_box{
    padding: 8px;
    text-align: center; 
 
}


.webwidget_slideshow_dot .title_thumb_box .thumb_box span{

        
}
.webwidget_slideshow_dot .title_thumb_box .thumb_box span img{    
    height: 10px;
    padding-bottom: 2px;
    cursor: pointer;
}
.webwidget_slideshow_dot  .thumb_num{ 
    padding-left: 10px;
    padding-right: 10px;
    border-left: 1px #d5d5d5 solid
}

.webwidget_slideshow_dot  .thumb_p {
    padding-left: 10px;
    padding-right: 10px;   
}

.webwidget_slideshow_dot  .thumb_n {
    padding-left: 10px;
    padding-right: 10px;
    border-left: 1px #d5d5d5 solid;
}
.webwidget_slideshow_dot img{
    padding: 0px;
    margin: 0px;
    border: none;
}
.webwidget_slideshow_dot ul{
    
    padding: 0px;
    margin: 0px;
    position: absolute;
    list-style: none;
   
}
.webwidget_slideshow_dot ul li{
    padding: 0px;
    margin: 0px;
    float: left;
}
.webwidget_slideshow_dot ul li a{
    display: block;
}

/*Tabs Pencarian For Hasil Pencarian Page*/


.etabs-pencarian { margin: 0px }

.tab-pencarian { 
    display: inline-block; zoom:1; 
      background: #3cb94b; 
      -moz-border-radius:6px 6px 1px 1px;
      -webkit-border-radius:6px 6px 1px 1px;
      border-radius:6px 6px 1px 1px;
      border: 1px #3cb94b solid;
      text-shadow: 1px 1px 2px #000000;
}
.tab-pencarian a { 
        width: 146px;
        text-align: center;
        font-family: 'univers_45_lightregular';
        font-size: 14px; 
        line-height: 2em; 
        display: block; 
        padding-top: 5px;
        padding-bottom: 5px;
        outline: none;  color: #ffffff;
        font-size: 16px;
        }
.tab-pencarian a:hover {
    text-decoration: none;
}

.tab-pencarian a img{
    height: 31px;
}
.tab-pencarian.active { 
   
    text-shadow: none;
    width: auto;
    background: #F4F4F4;
    -moz-box-shadow:inset 0px 2px 0px 0px #F4F4F4;
    -webkit-box-shadow:inset 0px 2px 0px 0px #F4F4F4;
    box-shadow:inset 0px 2px 0px 0px #F4F4F4;
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #F4F4F4), color-stop(1, #e0e0e0) );
    background:-moz-linear-gradient( center top, #F4F4F4 5%, #e0e0e0 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ebebeb', endColorstr='#e0e0e0');    
    -moz-border-radius:6px 6px 1px 1px;
    -webkit-border-radius:6px 6px 1px 1px;
    border-radius:6px 6px 1px 1px;
    border:1px solid #cccccc;    
    
    
}
.tab-pencarian a.active { 
      color: #3cb94b;
}

.tab-body-pencarian{
    padding: 25px 20px 0px 20px;   
    background: url('../img/tab_bg.png') #F5F5F5; 
    background-repeat: repeat-x;
    height: auto;
    -moz-border-radius:6px;
    -webkit-border-radius:6px;
    border-radius:0px 0px 6px 6px;    
    border: 1px #3cb94b solid;
}

 .tab-body-pencarian .title{
        font-family: 'univers_45_lightregular';
        font-size: 16px; 
        font-weight: bold;
        
}

.tab-body-pencarian select{
    width: 100%
}

.tab-body-pencarian input[type="text"]{
    width: 95%
}


.tab-body-pencarian .input-append{
    margin-left: -5px;
}

.tab-body-pencarian .button{
    font-family: 'univers_45_lightregular';
    font-size: 17px; 
    color: #ffffff;
    width: 100%;
    padding: 7px;
    text-shadow: 1px 1px 2px #000000;
      background: #3cb94b; 
      -moz-border-radius:6px;
      -webkit-border-radius:6px;
      border-radius:6px;
      border: 1px #3cb94b solid;
}

.tab-body-pencarian p{
    font-family: 'MyriadPro-Regular';
    font-size: 14px;
}



/*Tabs Pencarian For Front-End Page */
.pencarian{
    padding-top: 20px;
}

.etabs { margin: 0px 20px 0px 20px; padding: 0; }

.tab { 
    display: inline-block; zoom:1; 
      background: #3cb94b; 
      -moz-border-radius:6px 6px 1px 1px;
      -webkit-border-radius:6px 6px 1px 1px;
      border-radius:6px 6px 1px 1px;
      border: 1px #3cb94b solid;
      text-shadow: 1px 1px 2px #000000;
}
.tab a { 
        width: 165px;
        text-align: center;
        font-family: 'univers_45_lightregular';
        font-size: 14px; 
        line-height: 2em; 
        display: block; 
        padding-top: 5px;
        padding-bottom: 5px;
        outline: none;  color: #ffffff;
        font-size: 16px;
        }
.tab a:hover {
    text-decoration: none;
}

.tab a img{
    height: 31px;
}
.tab.active { 
   
    text-shadow: none;
    width: auto;
    background: #F4F4F4;
    -moz-box-shadow:inset 0px 2px 0px 0px #F4F4F4;
    -webkit-box-shadow:inset 0px 2px 0px 0px #F4F4F4;
    box-shadow:inset 0px 2px 0px 0px #F4F4F4;
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #F4F4F4), color-stop(1, #e0e0e0) );
    background:-moz-linear-gradient( center top, #F4F4F4 5%, #e0e0e0 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ebebeb', endColorstr='#e0e0e0');    
    -moz-border-radius:6px 6px 1px 1px;
    -webkit-border-radius:6px 6px 1px 1px;
    border-radius:6px 6px 1px 1px;
    border:1px solid #cccccc;    
    
    
}
.tab a.active { 
      color: #3cb94b;
}

.tab-body{
   padding: 25px 50px 0px 50px;
    background: url('../img/tab_bg.png'); 
    background-repeat: repeat-x;
    height: 348px;
    -moz-border-radius:6px;
    -webkit-border-radius:6px;
    border-radius:6px;    
    border: 1px #3cb94b solid;
}

 .tab-body .title{
        font-family: 'univers_45_lightregular';
        font-size: 16px; 
        font-weight: bold;
}

.tab-body select{
    width: 285px;
}

.tab-body .input-append{
    margin-left: -5px;
}

.tab-body .button{
    font-family: 'univers_45_lightregular';
    font-size: 17px; 
    color: #ffffff;
    width: 100%;
    padding: 7px;
    text-shadow: 1px 1px 2px #000000;
      background: #3cb94b; 
      -moz-border-radius:6px;
      -webkit-border-radius:6px;
      border-radius:6px;
      border: 1px #3cb94b solid;
}

.tab-body p{
    font-family: 'MyriadPro-Regular';
    font-size: 14px;
}

/**/

.speciality{   
    float: right;
    font-family: 'MyriadPro-Regular';
}
.speciality a{
    color: #000000;
}

.speciality a.more{
    color: #3cb94b;
}

.speciality .col{
    margin-left: 10px;
    width: 195px;
    float: left;
        
}

.speciality .col p{
    padding-left: 10px;
    padding-right: 10px;
}

.speciality .col .title{
    padding: 10px;
    font-size: 1.786em;
    color: #3cb94b;
}

.speciality .col ul{
    list-style: none;
    margin-left: 10px;
    margin-top: -10px;
}

.banner-front{
   padding: 10px;
   position: absolute;
   margin-top: 280px;
}

.banner-front img{
    width: 600px;      
   -webkit-filter: drop-shadow(0px 0px 10px  #cccccc); filter: drop-shadow(0px 0px 10px  #cccccc); 
}










/*Section slider*/

section.slider_dokter{
    margin-top: 20px;
}

.title_banner_slider{
    background: url('../img/title_bg_dokter_slider.png'); background-color:#ffffff;
    background-repeat: no-repeat;
    height: 43px;
    
}

.title_banner_slider .title{
     padding: 10px;
     text-shadow: 1px 1px 2px #000000;
     font-family: 'univers_45_lightregular';
     font-size: 17px; 
     color: #ffffff;
}



#home-types
{       
        margin: 0 auto;
	width: 1024px;
	margin-top: 1px;
}

#home-types ul
{        
        padding: 10px;
	list-style-type: none;
	margin: 0;
}

#home-types a.next
{   
        margin-top: 4%;	
        float: right;
	background: url(../img/right_dokter_ic.png) no-repeat;
	width: 42px;
	height: 155px;
	text-indent: -2000em;
        margin-right: 0px;
}

#home-types a.next:hover
{
	
}

#home-types a.prev
{      
        margin-top: 4%;
	float: left;
	background: url(../img/left_dokter_ic.png) no-repeat;
	width: 39px;
	height: 155px;
	text-indent: -2000em;
        
}

#home-types a.prev:hover
{
	
}

#home-types .type
{

	float: left;
	width: 272px;
	height: 145px;        
        padding: 15px;        
	margin:  5px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;        
        -moz-box-shadow: 0px 0px 10px 2px #c5c5c5;
        -webkit-box-shadow: 0px 0px 10px 2px #c5c5c5;
        box-shadow: 0px 0px 10px 2px #c5c5c5;        
        
        border: 1px #bdbdbd solid;        
}

#home-types .type img{
    float: left;
    width: 115px;
    
    border: 5px #f6f6f6 solid;    
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    -moz-box-shadow: 0 0 10px -3px #000;
    -webkit-box-shadow: 0 0 10px -3px #000;
    box-shadow: 0 0 10px -3px #000;
}



#home-types .type .desc{
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, HelveticaNeue, Arial, "Lucida Grande", sans-serif; 
    float: right;
    width: 140px;
}
#home-types .type .desc span.title{
    font-size: 1.300em;
    color: #2b865a;
}

#home-types .type .desc span.spesialis{
    font-size: 1.300em;
    color: #363636;
}
#home-types .type .desc p{
    color: #7d7d7d;
    margin-top: 10px;
    font-size: 0.786em;
    line-height: 15px;
}



footer {
   line-height: 17px;
   color: #ffffff;
   background: url(../img/footer_bg.jpg);
   background-repeat: repeat;
   min-width: 1024px;
   height: 450px;
}

footer  .span4{
    width: 280px;
    margin-right: 20px;
}

footer a{
    color: #ffffff;
}
footer a:hover{
    color: #ffffff;
}

footer h3{
    font-size:16px;
    margin-bottom: -5px;
    margin-left: 10px;
}
footer b{
    font-size:16px;
}
footer legend{
    margin-bottom: 5px
}

footer .container .desc{
    width: 220px;
    padding-left: 10px;
    text-align: justify;
    
}
footer .container  .tweet{
    margin-right: 50px;
    width: 190px;
    float: right;
}

footer .container .testimoni{
    padding:10px 0px 10px 0;
    text-align: justify;
    display: inline-block;
}
footer .container .testimoni .quote{
    float: left;
    width: 30px;
    height: 18px;
    margin: 0 auto;
}

footer .container .testimoni article{
    float: right;
    width: 245px;
}

.copyright{
    text-align: center;
    font-size: 12px;
}
.copyright a{
    color: #000000;
}
footer .container ul{
    list-style: none;
    margin-left: 0px;
}

footer .container ul li{
    padding: 5px;
    border-bottom: 1px #ffffff solid;
}

footer .container .button{
  
    font-size: 17px; 
    color: #ffffff;
    width: 75%;
    padding: 7px;
      background: #3cb94b; 
      -moz-border-radius:6px;
      -webkit-border-radius:6px;
      border-radius:6px;
      border: 1px #3cb94b solid;
}

.bottom{
   padding: 20px;
}

.bottom a{
   color: #000000;
}

/*Package Detail style*/
.big_breadcumb{
    background: url('../img/big_breadcumb_bg.jpg') repeat-x;
    height: 43px;
    min-width: 1024px;
}

.big_breadcumb a{
    color: #000000;
}

.big_breadcumb ul{
    position: absolute;
    min-width: 1024px;
    list-style: none;
    margin-left: 0px;
  
}

.big_breadcumb ul li{
    width: 290px;
    text-align: center;
    padding: 10px 20px 0px 20px;
    margin-right: 10px;
    float: left;
    font-size: 25px;
    background: url('../img/right_big_breadcumb_ic.png') no-repeat right;
    height: 33px;
}
.big_breadcumb ul li.last{
    background: none;
}


.small_breadcumb{
    background: url('../img/smal_breadcumb_bg.jpg');
    height: 43px;
    min-width: 1024px;    
}
.small_breadcumb a{
    color: #000000;
}
.small_breadcumb .container{
   padding-top: 10px;
}



.package_detail{
    margin-top: 20px;
   
}
.package_detail a{
    color: #adba69;
    font-family: 'HelveticaBold';
}

.package_detail .col{
   width: 500px;
   float: left;
}

.package_detail .description{
   width: 500px;
   float: right;
}
.package_detail h3, .col_dokterlist h3{
    margin: 0px;
    font-family: 'HelveticaNeue';
    line-height:30px;
    font-size: 35px;
    font-weight: normal;
}
.package_detail h4, .col_dokterlist h4{
    margin: 0px;
    color: #7c9211;
    font-family: 'HelveticaNeue';
    line-height: 30px;
    font-size: 22px; font-weight: normal;
}

.package_detail h5, .col_dokterlist h5{
    margin: 0px;
    color: #808080;
    font-family: 'HelveticaNeue';
    font-size: 19px; font-weight: normal;
}

.package_detail header{
    margin: 0px;
    color: #000000;
    font-family: 'HelveticaNeue';
    line-height: 30px;
    font-size: 22px;
}

.package_detail img{
    border: 1px #d9d9d9 solid;
}
.package_detail .image_dokter{
    float: left;
    border: none;
    width: 160px;
    
    color: #a8a8a8;
}

.package_detail .image_dokter img{
        border: none;
    width: 160px;
}
.buat_janji h5{
    color: #000000;
    margin-bottom: 5px;
}
.buat_janji{
   text-align: center;
}
.buat_janji .atention{
    background: #e5ecc7;
    width: 100%;
    padding: 10px;
    font-size: 12px;
}




.list_spesialis h4 {
    color: #599d54
}

.list_spesialis {
    float: right;
    width: 365px;
}
.list_spesialis ul{
    margin-top: 10px;
}

.list_spesialis ul li{
    float: left;
    width: 170px;
    list-style-image: url('../img/list_spesialist.jpg');
}

.jadwal_praktek_heading{
    color: #a9ca70;
    text-align: center;
    padding-top: 5px;
    width: 146px;
    height: 32px;
    background: url('../img/jadwal_praktek_heading_bg.png') no-repeat;
     -webkit-filter: drop-shadow(0px 0px 20px hsla(0,0%,0%,.25));    
}

#jadwal_praktek .content{
    border-top: 2px #f6f6f6 solid;
    margin-top: -5px;
    padding: 20px;
}

#jadwal_praktek .jam-praktek{
    background: #bdd445;
}

#jadwal_praktek .jam-praktek table{
    width: 100%;
    color: #ffffff;
}

#jadwal_praktek .jam-praktek table tr{
    border-bottom: 1px #96a351 solid;
    
}
#jadwal_praktek .jam-praktek table tr td{
    padding: 10px;
}

#jadwal_praktek .jam-praktek table tr td.jam{
    text-align: center;
}

#jadwal_praktek .jam-praktek table tr td.but{
     text-align: right;
}
/*Tabs Package Style*/



ul.package-etabs { 
    margin-left: 0px;
    background: #dae79a;
    padding-top: 10px;
   
}
.tab-container h4{
    margin: 0px;
    color: #000000;
    font-family: 'HelveticaNeue';
    line-height: 30px;
    font-size: 20px;
}

.tab-container header{
    margin: 0px;
    color: #7c9211;
    font-family: 'HelveticaNeue';
    line-height: 30px;
    font-size: 20px;
}
.tab-container .thumb{
    width: 160px;
    height: 100px;
    margin-bottom: 5px;
    
}
.package-tab { 
    margin-left: 20px;
    width: 227px;
    display: inline-block; zoom:1; 
       background: url('../img/detail_package_tab_bg.png');
      -moz-border-radius:6px 6px 1px 1px;
      -webkit-border-radius:6px 6px 1px 1px;
      border-radius:6px 6px 1px 1px;
      text-shadow: 1px 1px 2px #000000;
}

.package-tab a { 
         width: 227px;
        text-align: center;
        font-family: 'univers_45_lightregular';
        font-size: 14px; 
        line-height: 2em; 
        display: block; 
        padding-top: 5px;
        padding-bottom: 5px;
        outline: none;  color: #ffffff;
        font-size: 16px;
        }
.package-tab a:hover {
    text-decoration: none;
}

.package-tab a img{
    height: 31px;
}
.package-tab.active { 
   
    text-shadow: none;
    width: auto;
    background: url('../img/detail_package_tab_active_bg.png') no-repeat;
 
    
    
}
.package-tab a.active { 
      color: #3cb94b;
}


.panel-container .row{
    margin-top: -10px;
   
}

.panel-container ul.tempat_praktek{
    list-style: none;
    margin: 0px;
}

.panel-container ul.tempat_praktek li{
    text-align: center;
    padding: 6px;
    border-bottom: 2px #f4f7f2 solid;
    
}

.panel-container ul.tempat_praktek li a{
    color: #8c8c8c;
    
}
.panel-container ul.tempat_praktek li a:hover{
    color: #a3b15d;
    text-decoration: none;
}

.panel-container .row .span3{
    padding: 20px;
    font-size: 13px;
    background-color: #f6fcf3;
}
.panel-container .row .span9{
    padding: 20px;
}

/*Button style*/



/*Hasil Pencarian styling*/
.hasil-pencarian, .hasil-pencarian a{
    color: #6d6d6d;
    
}

.hasil-pencarian a:hover{
    text-decoration: none
}

.hasil-pencarian h3{
    color: #000000;
    margin: 0px;
    font-family: 'univers_45_lightregular';
}
.hasil-pencarian hr{
       border : 0;
       height : 2px;
       background : #5d5d5d;
       margin: 0px 0px 10px 0px;
}
.hasil-pencarian span.total-result{
    font-size: 15px;
    color: #3b9b46;
}

.hasil-pencarian .short-by{
    border: 1px #efefef solid;
    border-radius: 6px;
    padding: 5px 0px 5px 0px;
    
}

.hasil-pencarian .short-by .cont{
    margin: 10px;
    display: inline-block;
    font-size: 12px;
}

.hasil-pencarian .short-by .cont label{
     font-size: 12px;
}

.hasil-pencarian .short-by .grid{
    padding-right: 20px;
    border-right: 1px #efefef solid;
}
.hasil-pencarian .pagging{
    padding: 20px 20px 10px 20px;
    text-align: right;
     font-size: 12px;
}

.hasil-pencarian .pagging ul{
    list-style: none;
}

.hasil-pencarian .pagging ul li{
    display: inline;
    padding: 2px;
}

.col_dokterlist .image_dokter{
    float: left;    
    width: 160px;    
    color: #a8a8a8;
}

.col_dokterlist .image_dokter img{
    border: none;
    width: 160px;
}

.col_dokterlist .description{
    padding-top: 20px;
    float: right; width: 525px
    
}

.col_dokterlist .description legend{
    margin-bottom: 10px;
}
.col_dokterlist .description table{
    width: 100%;
}
.col_dokterlist .description table tr td{
   width: 35%;
}
.col_dokterlist .description table tr td.hari{
    text-align: center;
}

.col_dokterlist .list_spesialis {
    float: left;
    width: 365px;
    margin-left: 10px;
}
.col_dokterlist .btn-buat-janji, .col_dokterlist .btn-lihat-detail{
    width: 160px;
    margin-bottom: 5px;
}

.col_dokterlist .pricing{
    text-align: center;
    float: right;
    width: 200px;
}

.col_dokterlist .pricing h3{
    color: #3cb94b;    
    font-family: 'GillSansBold';
}

.col_dokterlist .pricing h4{
    color: #f55813;    
    font-family: 'GillSansBold';
}

.span4 h4.filter{
        font-family: 'univers_45_lightregular';        
}

.box-sidebar{
    padding: 20px;
    border: 1px #a6dfac solid;
    border-radius: 6px;
    -webkit-box-shadow: 0px 0px 2px #eaeaea;
    -moz-box-shadow:    0px 0px 2px #eaeaea;
    box-shadow:         0px 0px 2px #eaeaea;
    
    background: -webkit-gradient(linear, 0 0, 0 100%, from(#fdfdfd), to(#f6f6f6));
    background: -moz-linear-gradient(top, #fdfdfd, #f6f6f6);
    -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorStr=#fdfdfd, endColorStr=#f6f6f6);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorStr=#fdfdfd, endColorStr=#f6f6f6);    
        
}

.pencarian-sebelumnya{
     background: none; border: 1px #eaeaea solid;
     font-size: 12px;
}

.box-sidebar h5{
    font-family: 'univers_45_lightregular';        
    color: #3b9b46;
    margin-bottom: 5px;
}
.box-sidebar img{
    float: left;
    width: 100px;
    
}
.box-sidebar .desc{
    float: right;
    width: 150px;
}

.box-sidebar hr{
       border : 0;
       height : 1px;
       background : #5d5d5d;
       margin: 0px 0px 10px 0px;
}
.box-sidebar .desc .nama-dokter{
    font-weight: bold;
    color: #3b9b46;
}

#min{
    border: none; width: 100px; padding: 0px; box-shadow: none; background: none
}
#max{
  border: none; width: 90px; padding: 0px; box-shadow: none; background: none
}

.ui-slider-horizontal .ui-state-default {
    background: url(../img/slider-button.png) no-repeat scroll 60% 60%;
    border: none;
}

a.button-beli, a.button-beli:hover{
    font-size: 30px; 
    font-family: 'univers_45_lightregular';
    font-size: 30px; 
    color: #ffffff;
    width: 88%;
    
    padding: 10px;
      background: #f28e00; 
      -moz-border-radius:6px;
      -webkit-border-radius:6px;
      border-radius:6px;
      border: 2px #cf7200 solid;
}

a.button-share-twitter, a.button-share-twitter:hover{
    font-size: 30px; 
    font-family: 'univers_45_lightregular';
    font-size: 20px; 
    color: #ffffff;
    width: 37%;
    height: 20px;
    padding: 10px;
    background: url('../img/btn_tweet_bg.jpg'); ; 
    -moz-border-radius:6px;
    -webkit-border-radius:6px;
      border-radius:6px;
      border: 1px #d5d5d5 solid;
}

a.button-share-facebook, a.button-share-facebook:hover{
    font-size: 30px; 
    font-family: 'univers_45_lightregular';
    font-size: 20px; 
    color: #ffffff;
    width: 39%;
    height: 20px;
    padding: 10px;
    background: url('../img/btn_facebook_bg.png'); ; 
    -moz-border-radius:6px;
    -webkit-border-radius:6px;
    border-radius:6px;
    border: 1px #d5d5d5 solid;
}



.hijau-caret
{
        border-top-color: #0aae60 !important;
        border-bottom-color: #0aae60 !important;
        
}

.btn-search{
    background: url('../img/search_ic.png'); 
    width: 32px;
    height: 32px;
    border: none;
}

.btn-buat-janji, a.btn-buat-janji {
  font-family: Arial;
  width: 210px;
  color: #ffffff;
  font-size: 20px;
  padding: 8px;
  text-decoration: none;
  -webkit-border-radius: 60px;
  -moz-border-radius: 60px;
  border-radius: 60px;
  -webkit-box-shadow: 0px 0px 0px #666666;
  -moz-box-shadow: 0px 0px 0px #666666;
  box-shadow: 0px 0px 0px #666666;
  text-shadow: 0px 0px 0px #666666;
  border: solid #5e8e49 1px;
  background: #b5cd60;
  background: -webkit-gradient(linear, 0 0, 0 100%, from(#b5cd60), to(#91bd58));
  background: -moz-linear-gradient(top, #b5cd60, #91bd58);
  -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorStr=#b5cd60, endColorStr=#91bd58);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorStr=#b5cd60, endColorStr=#91bd58);
  display:inline-block; /* IE is so silly */
}
.btn-buat-janji:hover, a.btn-buat-janji:hover {
  background: #91bd58;
  color: #ffffff;
}


.btn-lihat-detail, a.btn-lihat-detail{
  font-family: Arial;
  width: 210px;
  color: #ffffff;
  font-size: 20px;
  padding: 8px;
  text-decoration: none;
  -webkit-border-radius: 60px;
  -moz-border-radius: 60px;
  border-radius: 60px;
  -webkit-box-shadow: 0px 0px 0px #666666;
  -moz-box-shadow: 0px 0px 0px #666666;
  box-shadow: 0px 0px 0px #666666;
  text-shadow: 0px 0px 0px #666666;
  border: solid #5e8e49 1px;
  background: #50e7f2;
  background: -webkit-gradient(linear, 0 0, 0 100%, from(#50e7f2), to(#4cc8e7));
  background: -moz-linear-gradient(top, #50e7f2, #4cc8e7);
  -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorStr=#50e7f2, endColorStr=#4cc8e7);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorStr=#50e7f2, endColorStr=#4cc8e7);
  display:inline-block; /* IE is so silly */
}
.btn-lihat-detail:hover, a.btn-lihat-detail:hover {
  background: #4cc8e7;
  color: #ffffff;
}

.btn-small-buat-janji {
  font-family: Arial;
  width: 150px;
  color: #ffffff;
  font-size: 14px;
  padding: 5px 10px 5px 10px;
  text-decoration: none;
  -webkit-border-radius: 60px;
  -moz-border-radius: 60px;
  border-radius: 60px;
  -webkit-box-shadow: 0px 0px 0px #666666;
  -moz-box-shadow: 0px 0px 0px #666666;
  box-shadow: 0px 0px 0px #666666;
  text-shadow: 0px 0px 0px #666666;
  border: solid #5e8e49 1px;
  background: #b5cd60;
  background: -webkit-gradient(linear, 0 0, 0 100%, from(#b5cd60), to(#91bd58));
  background: -moz-linear-gradient(top, #b5cd60, #91bd58);
  -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorStr=#b5cd60, endColorStr=#91bd58);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorStr=#b5cd60, endColorStr=#91bd58);
  display:inline-block; /* IE is so silly */
}
.btn-small-buat-janji:hover {
  background: #91bd58;
  color: #ffffff;
}

/*Custom icon*/
i.right_big_breadcumb_ic{
    vertical-align: inherit;
    width: 29px;
    height: 44px;
    border: none;        
    background: url('../img/right_big_breadcumb_ic.png') no-repeat;
    display: inline-block
}

i.keranjang_ic{
    vertical-align: inherit;
    width: 27px;
    height: 25px;
    border: none;        
    background: url('../img/keranjang_ic.png') no-repeat;
    background-size: contain;
    display: inline-block
}

i.home_ic{
    vertical-align: inherit;
    width: 17px;
    height: 16px;
    border: none;        
    background: url('../img/home_ic.png') no-repeat;
    display: inline-block
}

i.telp_ic{
    vertical-align: inherit;
    width: 17px;
    height: 16px;
    border: none;        
    background: url('../img/telp_ic.png') no-repeat;
    display: inline-block
}

i.envelope_ic{
    vertical-align: inherit;
    width: 17px;
    height: 16px;
    border: none;        
    background: url('../img/envelope_ic.png') no-repeat;
    display: inline-block
}

i.quote_ic{
    vertical-align: inherit;
    width: 27px;
    height: 18px;
    border: none;        
    background: url('../img/quote_ic.png') no-repeat;
    display: inline-block
}

i.telp_cs{
    vertical-align: inherit;
    width: 42px;
    height: 44px;
    border: none;        
    background: url('../img/24x7.png') no-repeat;
    display: inline-block
}


i.mata{
    vertical-align: inherit;
    width: 18px;
    height: 11px;
    border: none;        
    background: url('../img/mata.png') no-repeat;
    display: inline-block
}


