<div id="deskripsi">

    <!--- Menu sidebar for descripsi-->
      <div class="span3">           
                
             <ul class="tempat_praktek">
                 <li>
                     <a href="#"> About the Doctor</a>
                 </li> 
                 <li>
                     <a href="#">Personal Statment</a>
                 </li>
                 <li>
                     <a href="#">Education</a>
                 </li>
                 <li>
                     <a href="#">Archievement & Awards</a>
                 </li>
                 <li>
                    <a href="#"> Certification </a>
                 </li>
             </ul>
             
         </div>   
    
    <!--content descripsi-->
    <div class="span9">
    <h4>About Dr Sanjay Nalachandran, General Surgeon</h4><br/>
    <p>
Dr Sanjay is experienced in the management and treatment of common general surgical conditions, as well as emergency procedures. Trained in both traditional vascular surgery and endovascular surgery, Dr Sanjay is well versed with the latest stenting and angioplasty procedures in vascular surgery, and has expertise in laser techniques for varicose and spider veins. He is also trained in advanced laparoscopic surgery.
    </p>
    <p>
He was awarded with a Singapore Ministry of Health Manpower Development Plan (HMDP) scholarship to complete a one year advanced vascular surgery training program at Freeman Hospital, Newcastle Upon Tyne, UK. In addition, he received the best teacher award, the courage award for SARS, the excellence award in silver and the long service award from Tan Tock Seng Hospital.
    </p>
    <p>
Dr Sanjay has published articles and papers in various renowned journals and magazines worldwide.
    </p>
    </div>
    
</div>

<div id="jadwal_praktek">
   <!-- Menu sidebar jadwal praktek --> 
  <div class="span3">           
                
             <ul class="tempat_praktek">
                 <li>
                     <a href="#"> Rumah Sakit Pondok Indah</a>
                 </li> 
                 <li>
                     <a href="#">Rumah Sakit Menteng</a>
                 </li>
                 <li>
                     <a href="#">Rumah Sakit Mitra Sunter</a>
                 </li>
                 <li>
                     <a href="#">Rumah Sakit Medistra</a>
                 </li>
                 <li>
                    <a href="#"> Rumah</a>
                 </li>
             </ul>
             
         </div>     
    
    
    <div class="span9">
    
    <div class="jadwal_praktek_heading">
        Jam Praktek
    </div>
    <div class="content jam-praktek">
      
        <table>
            <tr>
                <td> Senin </td> <td class="jam"> Jam 3.00PM - 5.00PM</td><td class="but"> <a href="#" class="btn btn-small-buat-janji">BUAT JANJI</a></td>
            </tr>
            <tr>
                <td> Selasa </td> <td class="jam"> Tidak Tersedia </td><td class="but"></td>                
            </tr> 
            <tr>
                <td> Rabu </td> <td class="jam"> Jam 3.00PM - 5.00PM</td><td class="but"> <a href="#" class="btn btn-small-buat-janji">BUAT JANJI</a></td>
            </tr>        
            <tr>
                <td> Kamis </td> <td class="jam"> Jam 3.00PM - 5.00PM</td><td class="but"> <a href="#" class="btn btn-small-buat-janji">BUAT JANJI</a></td>
            </tr>
            <tr>
                <td> Jumat </td> <td class="jam"> Jam 3.00PM - 5.00PM</td><td class="but"> <a href="#" class="btn btn-small-buat-janji">BUAT JANJI</a></td>
            </tr>    
            <tr>
                <td>  </td> <td class="jam"> Jam 8.00PM - 7.00PM</td><td class="but"> <a href="#" class="btn btn-small-buat-janji">BUAT JANJI</a></td>
            </tr>             
            <tr>
                <td> Sabtu </td> <td class="jam"> Tidak Prakter</td><td class="but"> </td>
            </tr>
            <tr>
                <td> Minggu </td> <td class="jam"> Tidak Praktek</td><td class="but"> </td>
            </tr>            
        </table>
        
    </div>
    
    <div class="clear">&nbsp;</div>
    
    <div class="jadwal_praktek_heading">
       Cara Pembayaran
    </div>  
    <div class="content">
        <p>
            Cash<br/>
            Debit Kartu Kredit<br/>
            Kartu Asuransi <br/>
        </p>
    </div>
    
     <div class="clear"></div>
    <div class="jadwal_praktek_heading">
       Fasilitas
    </div>     
     <div class="content">
         
         <div class="row">
             <div class="span">
                 Ambulance<br/>
                 UGD <br/>
                 Free Wifi<br/>
                 Kelas III - VVIP Room<br/>
                 Restaurang 24 jam
             </div>
             <div class="span">
                 Ambulance<br/>
                 UGD <br/>
                 Free Wifi<br/>
                 Kelas III - VVIP Room<br/>
                 Restaurang 24 jam 
             </div>
             <div class="span">
                 Ambulance<br/>
                 UGD <br/>
                 Free Wifi<br/>
                 Kelas III - VVIP Room<br/>
                 Restaurang 24 jam 
             </div>
             
             
         </div>
         
     </div>
     
     <div class="clear"></div>
    <div class="jadwal_praktek_heading">
       Peta
    </div>      
     <div class="content">
<iframe width="650" height="450" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=Rumah+Sakit+JIH,+Depok,+Special+District+of+Yogyakarta,+Indonesia&amp;aq=0&amp;oq=Rumah+sakit+J&amp;sll=-7.776595,110.376405&amp;sspn=0.001507,0.002642&amp;t=w&amp;ie=UTF8&amp;hq=Rumah+Sakit+JIH,&amp;hnear=Depok,+Sleman,+Special+District+of+Yogyakarta,+Indonesia&amp;ll=-7.75735,110.403368&amp;spn=0.010108,0.061035&amp;output=embed"></iframe><br /><small><a href="https://maps.google.com/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=Rumah+Sakit+JIH,+Depok,+Special+District+of+Yogyakarta,+Indonesia&amp;aq=0&amp;oq=Rumah+sakit+J&amp;sll=-7.776595,110.376405&amp;sspn=0.001507,0.002642&amp;t=w&amp;ie=UTF8&amp;hq=Rumah+Sakit+JIH,&amp;hnear=Depok,+Sleman,+Special+District+of+Yogyakarta,+Indonesia&amp;ll=-7.75735,110.403368&amp;spn=0.010108,0.061035" style="color:#0000FF;text-align:left">View Larger Map</a></small>
     </div>
    
     
     
    </div>
</div>