<div id="highlights">
<p>
Mencegah lebih baik daripada mengobati, cek segera kesehatan kalian untuk dapat mencegah hal-hal yang tidak diinginkan dengan Paket Dashat Package - Healthcare Package. Hanya dengan Rp 44.000, kalian bisa mengecek kesehatan anak disduser dengan Pediatrician consultancy, Visus dan Color blindness. Juga tersedia paket untuk Pria dan Wanita serta Paket untuk keluarga loh! buruan beli vouchernya!
</p>

<header>Voucher seharga Rp. 44.000,- nett untuk Children Package</header>
<p>
Harga normal : Rp. 110.000,- <br/>
Include :<br/>
1. Pediatrician Consultancy<br/>
- Child Grow and Development<br/>
- Child Nutrition<br/>
2. Visus<br/>
3. Color Blindness<br/>
</p>
<header>Voucher seharga Rp. 119.000,- nett untuk Male Package</header>
<p>
Harga normal : Rp. 297.000,-<br/>
Include :<br/>
1. GP Consultancy<br/>
2. Blood Pressure & Vital Sign Check<br/>
3. ECG<br/>
4. Random Blood Sugar Test<br/>
5. Complete Urinalysis<br/>
6. Hepatitis B Screening (Hbs Ag cut off)<br/>
7. Total Cholesterol Test<br/>
</p>
<header>Voucher seharga Rp. 195.000,- nett untuk Female Package</header>
<p>
Harga normal : Rp. 487.000,-<br/>
Include :<br/>
1. OBGYN Consultancy<br/>
2. Blood Pressure & Vital Sign Check<br/>
3. Pap Smear<br/>
4. Random Blood Sugar Test<br/>
5. Complete Urinalysis<br/>
6. Hepatitis B Screening (Hbs Ag cut off)<br/>
7. Total Cholesterol Test<br/>
</p>
<p>
Voucher seharga Rp. 290.000,- nett untuk Family Package :<br/>
Male + Female Package + BONUS Free 2 Children<br/>
Harga normal : Rp. 1.005.000,-
</p>


</div>

<div id="profil">

    
    <img src="img/vivamedika_logo.png"><br/>
    
    <header> Tentang kami</header>
    <p>
Viva Medika bertujuan untuk memberikan pelayanan kesehatan yang tersentral pada pasien dan pelayanan pelanggan yang unggul bagi masyarakat kelas menengah di Indonesia. Untuk mencapai tujuan ini, Viva Medika mengoperasikan jaringan poliklinik yang bersifat one-stop-shop yang tersebar di seluruh penjuru nusantara.
    </p>
    <p>
Dengan memfokuskan pada kesejahteraan keluarga Indonesia, Viva Medika menawarkan beragam pelayanan seperti konsultasi kesehatan umum dan spesialis, kesehatan gigi, laboratorium, radiologi, dan apotek. Poliklinik kami menyediakan ruang tunggu yang luas dan nyaman, ruang konsultasi dengan peralatan lengkap, dan peralatan medis yang berstandar internasional untuk memberikan perawatan medis yang terbaik.
    </p>
    <p>
Pelayanan kesehatan kami yang luas menjadikan kesejahteraan Anda dan keluarga Anda sebagai pusat pelayanan dan kepedulian kami. Untuk informasi lebih lanjut, atau untuk membuat janji, silakan hubungi hotline Viva Medika di 0 800 1 678 000 (bebas pulsa).
    </p>
<header>Nilai-nilai kami</header>
<p>
Pelayanan Berkualitas  Kami memberikan pelayanan yang profesional dan efisien dengan sepenuh hati.
</p>
<p>
Mengutamakan Pelanggan  Kami memperhatikan apa saja kebutuhan pelanggan dan menghargai pelanggan kami. Kami mendengarkan pendapat mereka dan berusaha keras untuk melebihi pengharapan pelanggan kami.
</p>
<p>
Kinerja yang Unggul  Kami sangat antusias dengan segala yang kami lakukan. Hal ini yang mendorong komitmen kami terhadap keunggulan dan meningkatkan standar pelayanan yang kami berikan.
</p>
<p>
Inovasi yang Terus Berkembang Kami merangkul perubahan dan senantiasa berinovasi untuk memberikan pelayanan kesehatan yang berkualitas, menggabungkan teknologi terkini dan menggerakkan standar baru bagi industri kesehatan.
</p>
<p>
Integritas  Kami memberikan pelayanan yang etis, dengan mematuhi semua persyaratan hukum dan peraturannya, untuk memastikan penyampaian dalam pelayanan dan produk yang terbaik. Kami mewujudkan nilai-nilai kejujuran, transparansi dan keterbukaan.
</p>
<p>
Perbedaan dan Partisipasi Kami berkomitmen untuk mengembangkan dan mempertahankan lingkungan yang inklusif dimana kami menyambut dan mendukung setiap individu dari berbagai macam latar belakang, baik laki-laki maupun wanita.
</p>
</div>


<div id="ketentuan">

    <header>Syarat dan ketentuan paket</header><br/>
    <p>
    - Voucher tidak dapat diuangkan<br/>
    - Voucher sudah termasuk tax dan service<br/>
    - 1 voucher berlaku untuk 1 orang per transaksi<br/>
    - Tidak ada batas maksimal pembelian voucher per account<br/>
    - Voucher tidak dapat digabungkan dengan promo lainnya<br/>
    - Viva Medika Bintaro dan Tanjung Duren dibuka dan beroperasi mulai awal Agustus 2012<br/>
    - Khusus female package di Viva Medika Bintaro dan Tanjung Duren, mulai berlaku di pertengahan September 2012<br/>
    - Voucher di anggap berlaku ketika pengguna voucher sudah melakukan reservasi<br/>
    - Voucher harus diprint dan diberikan kepada Viva Medika pada saat penggunaan<br/>
    - Voucher dapat dipindah tangankan atau diberikan sebagai hadiah untuk orang lain<br/>
    - Diharapkan reservasi terlebih dahulu sebelum penggunaan voucher melalui 08001678000 (bebas pulsa), Reservasi dapat dimulai sejak tanggal 30 Juli 2012<br/>
    - Voucher berlaku di seluruh lokasi klinik Viva Medika (K.H. Mas Mansyur, Gunung Sahari, Bintaro dan Tanjung Duren)<br/>
    </p>

        Male Package Include :<br/>
    <ol>
        <li>GP Consultancy</li>
        <li>Blood Pressure & Vital Sign Check</li>
        <li>ECG</li>
        <li>Random Blood Sugar Test</li>
        <li>Complete Urinalysis</li>
         <li>Hepatitis B Screening (Hbs Ag cut off)</li>
    </ol>

    
</div>
